@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

.title{
  /* border: 1px solid blueviolet; */
  background: linear-gradient(45deg, #af53bb, #38daa4);
  box-shadow: inset -20px 0 38px -18px #f50b0b,inset -3px -13px 65px -18px rgb(238, 234, 12);
  padding: 3px 3px 3px 3px;  
}
.titletext{
  font-family: 'Courgette', cursive;
  font-size: 20px;
  padding-right: 10px;
}
.titletext2{
  font-family: 'Courgette', cursive;
  font-size: 20px;
  padding-left: 10px;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px 1px 1px 1px;
  background: linear-gradient(45deg, #d3bbda, #138d6f);
}
.logoimg{
  margin-top: 4px;
  width: 45px; height: 45px; 
  border: 1px solid pink; border-radius: 50%;
  transform: rotate(0deg);
  transition:0.4s;
}

.main{
  /* border: 3px solid red; */
  text-align: center;
}
.board{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* border: 13px solid blueviolet; */
  padding-bottom: 30px;
  background-image: url(https://assets.rpgsite.net/images/images/000/025/385/original/CoL_Apr302014_03.jpg);
}

.X {
  color: blue;
}

.O {
  color: red;
}