@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

.title{
  /* border: 1px solid blueviolet; */
  background: linear-gradient(45deg, #af53bb, #38daa4);
  box-shadow: inset -20px 0 38px -18px #f50b0b,inset -3px -13px 65px -18px rgb(238, 234, 12);
  padding: 3px 3px 3px 3px;  
}
.titletext{
  font-family: 'Courgette', cursive;
  font-size: 20px;
  padding-right: 10px;
}
.titletext2{
  font-family: 'Courgette', cursive;
  font-size: 20px;
  padding-left: 10px;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px 1px 1px 1px;
  background: linear-gradient(45deg, #d3bbda, #138d6f);
}
.logoimg{
  margin-top: 4px;
  width: 45px; height: 45px; 
  border: 1px solid pink; border-radius: 50%;
  transform: rotate(0deg);
  transition:0.4s;
}

.main{
  /* border: 3px solid red; */
  min-height: 100vh;
  text-align: center;
  background-image: url(https://assets.rpgsite.net/images/images/000/025/385/original/CoL_Apr302014_03.jpg);
  background-size: cover;
}
.board{
  /* border: 2px solid rgb(206, 192, 192); */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* border: 13px solid blueviolet; */
  padding-bottom: 30px;
}

.X {
  color: blue;
}

.O {
  color: red;
}
.historySection{
  position: absolute;
  /* min-height: 100vh; */
  right: 0;
  /* border: 2px solid black; */
  background-color: rgba(47, 230, 117, 0.2);
  display: flex;
  padding: 13px 0px 0px 0px;


}
.historyMove{
  padding: 10px 2px 2px 4px;
}
.toprank{
  padding: 10px 2px 2px 4px;

  /* background-color: rgba(47, 224, 115, 0.2); */
  /* display: flex; */
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 10rem;
  font-size: 14px;
  color: aliceblue;
}
.historybutton{
  /* background-color: rgb(65, 119, 201); */
  font-size: 18px;
  font-weight: bold;
  color: rgb(235, 222, 197);
}
.topscorebutton{
  font-size: 18px;
  font-weight: bold;
  color: rgb(235, 222, 197);
  /* background-color: rgb(65, 119, 201); */
}


.userInfo{
  display: flex;
  align-items: center;
  position: absolute;
  /* padding-right: 7rem; */
  right: 0;
}

.username{
  max-height: 70px;
  padding: 20px 20px 20px 20px;
  /* background-color: rgb(58, 58, 173); */
  /* border:1px solid blue ; */
  color: rgb(235, 228, 215);
  font-size: 20px;
  font-weight: bold;
  
}